
#answer {
  margin-right: 600px;
  margin-left: 400px;
  background-color: aqua;
color: #222;
  text-transform: uppercase;
  position: absolute;
  left: 35%;
  width: 35%;
  margin-right: 400px;
  margin-left: 40px;
  font-size: 80%;
}

#questionButton {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-size: 1.875em;
  color: #f8f8f8;
  background-color: hsl(253, 63%, 31%);
  border-radius: 5px;
  /* border: none; */
  padding: .5em 1em;

  margin-top: 20em;
  text-align: center;
  margin-left: 550px;
  margin-bottom: 500px;
  padding-bottom: 40px;
}
#word{
  padding-bottom: 50px;
text-align: center;
font-size : 40px;
padding-top: 40px;
padding-left: 200px;
}
/* property of ball shaking */
.shaking {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}